* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.centered-container-change-details h1 {
    background-color: #FFC107; /* matches */
    padding: 15px 25px; /* updated to match */
    border-radius: 10px; /* matches */
    margin: 20px auto; /* only the vertical margin changed to center it, you might adjust if needed */
    text-align: center; /* matches */
    color: black; /* matches */
    font-weight: 700; /* updated to match */
    font-size: 27px; /* matches */
    width: fit-content; /* retained as specific for this class */
}

.signup-user-form {
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 3.5px #FFC107;
    color: black;
    padding: 5%;
    text-align: unset;
    width: 90%;
    max-width: 800px;
    margin: 8rem auto;
    transition: transform 0.3s;
}

.signup-user-form:hover {
    transform: translateY(-5px);
    transform: scale(1.03);
}